footer {
  @include display(row, space-between, center);

  background: #181818;
  color: $white-color;
  padding: 80px 50px 16px 102px;

  p {
    @include font-stack(normal, 400, 1rem, 2.6rem);

    span {
      font-weight: 700
    }
  }
}