.headline {
  height: 93vh;
  background: url('../images/headline.png');
  position: relative;

  > div {
    position: absolute;
    right: 9%;
    top: 20%;
    color: $white-color;

    h1 {
      @include font-stack(normal, 600, 70px, 71px);

      text-transform: uppercase;
      width: 600px;
      margin: 0 0 2rem;
    }

    p {
      @include font-stack(normal, 100, 30px, 40px);

      width: 520px;
      margin: 0
    }

    > div {
      margin-top: 3.5rem;

      a {
        @include font-stack(normal, 600, 12px, 18px);

        padding: 20px 30px;
        border: solid 2px $primary-color-1;
        color: $primary-color-1;
        background: $white-color;
        letter-spacing: 3px;
        transition: all ease-out 0.5s 0.2s;
        
        &:hover {
          background: $primary-color-1;
          color: $white-color;
          box-shadow: $shadow-1;
        }
      }
    }
  }
}