.headline {
  height: 93vh;
  background: url('../images/headline.png');
  position: relative;

  > div {
    position: absolute;
    right: 9%;
    top: 23%;
    color: $white-color;

    h1 {
      font-weight: 600;
      font-size: 70px;
      line-height: 71px;
      text-transform: uppercase;
      width: 600px;
      margin: 0 0 2rem;
    }

    p {
      font-weight: 100;
      font-size: 30px;
      line-height: 40px;
      width: 520px;
      margin: 0
    }

    > div {
      margin-top: 3.5rem;

      a {
        padding: 20px 30px;
        border: solid 2px $primary-color-1;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: $primary-color-1;
        background: $white-color;
        letter-spacing: 3px;
        transition: all ease-out 0.5s 0.2s;
        
        &:hover {
          background: $primary-color-1;
          color: $white-color;
          box-shadow: $shadow-1;
        }
      }
    }
  }
}